:root {
  --Pale blue: hsl(225, 100%, 94%);
  --Bright blue: hsl(245, 75%, 52%);
  --very pale blue: hsl(225, 100%, 98%);
  --Desaturated blue: hsl(224, 23%, 55%);
  --Dark blue: hsl(223, 47%, 23%);
}

* {
  font-family: "Red-Hat-Display";
}

h1 {
  font-family: "Red-Hat-Display";
  font-weight: 900px;
}

main {
  height: 700px;
  background-image: url(images/pattern-background-desktop.svg);
  background-size:100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.white_blue_tab {
  position: relative;
  top: 69px;
  width: 352px;
  height: 552px;
  background-color: white;
  border-radius: 17px;
}

.mona_lisa {
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

img {
  width: 352px;
}

.Wording {
  text-align: center;
  height: 323px;
}

.first_summary {
  color: grey;
}

span:hover {
  color: blue;
}

.change {
  float: right;
  position: relative;
  bottom: 1em;
  right: 2em;
}

.price_column {
  position: relative;
  top: 8px;
}

.premium_price {
  background-color: hsl(225, 100%, 98%);
  position: relative;
  left: 2.4em;
  width: 17em;
  height: 4em;
  border-radius: 6px;
}

.fifty_nine {
  color: grey;
}

.payment_proceed {
  position: relative;
  top: 19px;
}

.Ptp:hover {
  background-color: hsl(225, 100%, 94%);
}

.Ptp {
   color: white;
   background-color: hsl(245, 75%, 52%);
   padding: 7px;
   position: relative;
   left: 2.5em;
   width: 16em;
   border-radius: 6px;
}


.cancel_option {
  position: relative;
  top: 40px;
}

.Apple-logo {
  width: 2em;
  position: relative;
  right: 147px;
  top: 14px;
}

.cancel-order:hover {
  color: black;
}

.cancel-order {
 color: grey;
}

p {
  width: 20em;
  position: relative;
  left: 1em;
}
